*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}
body{
    height:100vh;
    background:linear-gradient(360deg,#3304B8,#6738EB);
}
.w120{
    width:120px;
}

.nav_main_div{
    width:100%;
    height:50px !important;
    background-color:white;
    overflow:hidden;
}
.h100{
    height:100%;
}
.flex{
    display:flex;
}
.rborder{
    border:1px solid red;
}
.nav_second_div{
    width:100%;
    height:50px;
    display:flex;
}

.left_box{
    width:30%;
    font-size:25px;
    font-family:sans-serif;
    display:flex;
    align-items:center;
    padding:8px;
}
.right_box{
    width:70%;
    justify-content:flex-end;

}
.blue{
    color:blue;
}
.pl8{
 padding-left:5px;
}
.menu_ul_one{
    list-style:none;
    justify-content:flex-end;
    align-items:center;

}
.menu_ul_one li{
    display:inline-block;
    margin:5px;
    font-size:22px;
    padding:8px;
    cursor:pointer;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.mobile_menu_ul_one .mobile_li{
    height:30px;
    margin-top:7px;
    margin-bottom:7px;
    padding:5px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;


}
.npadding{
    padding:0 !important;
}

/* sign up button design */
.signup_btn,.login_btn{
    width:100%;
    height:35px;
    border:none;
    background-color:rgb(5, 145, 176);
    color:white;
    border-radius:40px;
    font-size:14px;
    transition:0.5s;
    cursor:pointer;

}
.none{
    display:none !important;
}
.login_btn{
    background-color:white;
    color:rgb(5, 145, 176);
    border:2px solid rgb(5, 145, 176);
}
.signup_btn:hover{
    transform:scale(1.1);
    background-color:rgba(5, 145, 176, 0.677);
    box-shadow:0px 3px 3px #ccc;
}
.login_btn:hover{
    transform:scale(1.1);
    background-color:rgba(5, 145, 176, 0.527);
    box-shadow:0px 3px 3px #ccc;
    border:none;
    color:white;
}
.mobile_menu_ul_one .mobile_li:hover{
    background-color: rgba(5, 145, 176, 0.677);
    cursor:pointer;
    color:white;
}
/*response design */
@media (max-width:850px){
    .left_box{
        font-size:20px;
    }
    .menu_ul_one li{
        font-size:18px;
    }
    .signup_btn,.login_btn{
        margin-top:8px;
    }
    .menu_ul_one{
        display:none;
    }
    .bars_icon{
        display:block !important;
    }
}
